@using _1015bookstore.viewmodel.Comon
@model List<_1015bookstore.viewmodel.Catalog.Categories.CategoryParentAndChildViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
            <h3 class="m-0 font-weight-bold text-primary">Danh sách danh mục</h3>
            @if (ViewBag.success != null)
            {
                <div id="msg" class="card bg-success text-white shadow">
                    <div class="card-body">
                        @ViewBag.success
                    </div>
                </div>
            }
            @if (ViewBag.error != null)
            {
                <div id="msg" class="card bg-danger text-white shadow">
                    <div class="card-body">
                        @ViewBag.error
                    </div>
                </div>
            }
        </div>
        <div class="card-body">

                @foreach (var item in Model)
                {

                    <li class="list-group" style="margin-bottom:10px">
                        <div class="card border-left-primary shadow h-100 py-2" data-toggle="collapse" data-target="#collapse@{@item.iCate_id;}" aria-expanded="true" aria-controls="collapse@{@item.iCate_id;}">
                            <div class="dropdown-header">
                                <div class="row">
                                    @if (item.lCate_childs.Count == 0)
                                    {
                                        <div class="col-md-5">
                                            <h4><a asp-action="ProductCate" asp-controller="Category" asp-route-paramName=@item.iCate_id>@item.sCate_name </a></h4>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-5"><h4>@item.sCate_name</h4></div>
                                    }
                                    <div class="col-md-7 d-flex flex-column align-items-end">
                                        <div class="row">
                                            <form asp-action="Edit" method="get">
                                                <input type="hidden" name="id" value=@item.iCate_id>
                                                <button type="submit" class="btn btn-warning">Sửa</button>
                                            </form>

                                             <form asp-action="ChangeParent" method="get" style="margin-left:20px">
                                                <input type="hidden" name="id" value=@item.iCate_id>
                                                <input type="hidden" name="name" value="@{@item.sCate_name}">
                                                <button type="submit" class="btn btn-primary">Thêm danh mục</button>
                                            </form>

                                            <div style="margin-left:20px">@item.lCate_childs.Count()</div>
                                        </div>
                                    </div>
                                    
                                </div>
                            
                            </div>
                        </div>
                        <div id="collapse@{@item.iCate_id;}" class="collapse" aria-labelledby="heading" data-parent="#accordionSidebar">
                        <div class="bg-infor py-2 collapse-inner rounded">
                                <ul class="list-group">
                                    @foreach (var childitem in item.lCate_childs)
                                    {
                                    <li class="list-group-item d-sm-flex align-items-center justify-content-between" >
                                        <div>
                                            <a asp-action="ProductCate" asp-controller="Category" asp-route-paramName=@childitem.iCate_id>@childitem.sCate_name </a>
                                        </div>

                                        <div class="row">
                                            <form asp-action="Edit" method="get">
                                                <input type="hidden" name="id" value=@item.iCate_id>
                                                <button type="submit" class="btn btn-warning">Sửa</button>
                                            </form>

                                            <form asp-action="ChangeParent" method="post" style="margin-left:20px">
                                                <input type="hidden" name="id" value=0>
                                                <input type="hidden" name="parent_id" value="@{
                                            @childitem.iCate_id
}">
                                                <button type="submit" class="btn btn-danger">-</button>
                                            </form>
                                        </div>
                                    </li>
                                        
                                    }
                                </ul>
                        </div>
                        </div>
                    </li>
                }
            </div>
    </div>

</div>


